<div class = "nav">
  <h1 id="page_title">Stereotype.me</h1>
  <ul>
    <% if session[:user_id] %>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/rate">Rate People</a></li>
      <li><a href="/property/new">Suggest New Question</a></li>
      <li><a href="/logout">Log Out</a></li>
    <% else %>
      <li><form action="/login" method="post">
        <input type="text" name="email" placeholder="email" size="10">
        <input type="password" name="password" placeholder="password" size="10">
        <input type="submit" value="Login">
      </form></li>
      <li><a href="/signup">Sign Up</a></li>
      <%end%>
  </ul>
</div>
