<h2>Suggest a new property!</h2>

<form action="/property/new" method="post">
  <input type="text" name="question" placeholder="Enter question here"><br>
  <input type="text" name="endpoint1" placeholder="Enter left endpoint here"><br>
  <input type="text" name="endpoint2" placeholder="Enter right endpoint here"><br>
  <input type="submit" value="Submit Suggestion">
</form>